/* This file is for your main application css. */

@import "./phoenix.css";

.chart {
  background: white;
  border-left: 1px dotted #555;
  border-bottom: 1px dotted #555;
}

.chart__label {
  color: #000000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
}

