/* This file is for your main application css. */

@import "./phoenix.css";

.chart {
  background: white;
  border-left: 1px dotted #555;
  border-bottom: 1px dotted #555;
}

.chart__label {
  color: #000000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
}

.header {
  margin: 50px 0 20px 0;
}

.svg-menu i {
  font-size: 40px
}

.svg-menu :hover {
  cursor: pointer;
}
